* {
    font-family: 'Otomanopee One', sans-serif;
}

/*style search form*/

.search-column {
    margin: 2% 0 0 35%;
    background-color:#7191ac;
}

.btn {
    margin: 10% 0 0 38%;
}

#city {
    margin-left: 25%;
}

h4 {
    margin-left: 30%;
}

#past-search-buttons {
    margins: none;
}

/* style forcast display*/

#current-forecast {
    margin: 10% 0 10% 70%;
}

#forecast {
    font-size: larger;

}

#five-day-forecast {
    margin: 10% 0 10% 45%;
}

.list-group-item{
    margin-left: -8%;
    line-height: 0.5;
    border: none;
}


/* set background colour for uv index*/

span.severe {
    padding: 3px;
    background-color: red;
    color:white;
}

span.moderate {
    padding: 3px;
    background-color: yellow;
}

span.favorable {
    padding: 3px;
    background-color: green;
    color:white;
}

